.card {
  width: 300px;
  height: 400px;
  background-color: white;
  border-radius: 5%;
  background-size: cover;
  background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);
  transition: all 1s;
  transition-duration: all ease-out;
  //   position: absolute;
}

.cardContainer {
  transform: rotateX(-15deg) rotateZ(-15deg);
  transform-style: preserve-3d;
  display: flex;
}

.card:hover {
  transform: perspective(1000px) translateZ(100px);
}

.homePageContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}
