.gameFiSection {
  height: 100vh;
  background: linear-gradient(#112136, #0f0a3d);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameFiContainer {
  // height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  h2 {
    height: 10vh;
    font-size: 2rem;
    flex-basis: 100%;
  }
}

.gameFiSelectedContainer {
  width: 20vw;
  min-width: 300px;
  height: 35vh;
  min-height: 250px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // font-size: 0.8vw;
  img {
    border-radius: 50%;
    width: 5vw;
    min-width: 60px;
    max-width: 125px;
    // position: absolute;
    // left: 50%;
    // top: -25%;
    // transform: translate(-50%);
  }
  background: linear-gradient(135deg, #47c0fd, #cf34fe);
}

.gameFiGenreContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vh;
  flex-basis: 100%;
  justify-content: center;
}

.gameFiGenre {
  background: linear-gradient(#b391ff, #642efe);
  font-weight: bold;
  // margin-top: 4rem;
  // width: 125px;
  // height: 125px;
  width: 6vw;
  min-width: 100px;
  height: 6vw;
  min-height: 100px;
  border-radius: 5px;
  margin: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    border-radius: 50%;
    width: 2.5vw;
    min-width: 35px;
  }
  span {
    display: block;
  }
  &:hover {
    scale: 1.2;
    cursor: pointer;
  }
}

@media screen and (max-height: 800px) {
  .gameFiSelectedContainer {
    font-size: 0.9rem;
  }
}
