@mixin fadeinAnimation($delay) {
  animation-name: fadein;
  animation-duration: 2s;
  animation-delay: $delay;
  animation-fill-mode: forwards;
  opacity: 0;
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.context_1 {
  @include fadeinAnimation(0s);
}

.context_2 {
  @include fadeinAnimation(0.5s);
}

.context_3 {
  @include fadeinAnimation(1s);
}

.context_4 {
  @include fadeinAnimation(1.5s);
}

.processContainer {
  height: 100vh;
  // background: linear-gradient(#ff6854, #831858);
  background: #7c1453;
  // background-image: url("https://awv3node-homepage.surge.sh/build/assets/stars.svg");
  // background-image: url("./chartBg.png");
  // background-size: cover;
  display: flex;
  align-items: center;
}

// mobile version
.contextContainer {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
}

.mobile {
  h3 {
    font-size: 1em;
    // text-align: left;
  }
  ul {
    font-size: 0.9rem !important;
  }
  margin-bottom: 5vh;
}

@media screen and (max-width: 450px) {
  .processContainer {
    height: 100%;
  }
}
