.chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: url("https://awv3node-homepage.surge.sh/build/assets/stars.svg"),
    url("./planet_bg_1.png");
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
}

.tokenChart {
  flex: 0.4;
  min-width: 400px;
  margin-top: 6rem;
}

.liqChart {
  flex: 0.4;
  min-width: 400px;
  color: white;
}

.unloaded {
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  .mobileChart {
    height: 40vh !important;
  }
  .tokenChart {
    margin-top: 1rem;
  }
  .liqChart {
    margin-bottom: 2.5rem;
    h2 {
      margin-bottom: 0rem !important;
    }
  }
}
