.chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.tokenChart {
  flex: 0.4;
  min-width: 400px;
  margin-top: 6rem;
}

.liqChart {
  flex: 0.4;
  min-width: 400px;
  color: white;
}
