.chart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  // background-image: url("https://awv3node-homepage.surge.sh/build/assets/stars.svg"),
  // url("./planet_bg_1.png");
  // background-image: url("./chartBg.png");
  // background-size: cover;
  // background-position: center bottom;
  background: linear-gradient(#166775, #e57768);
  // background-color: #0f4751;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.tokenChart {
  flex: 0.3;
  min-width: 400px;
  // margin-top: 6rem;
}

.liqChart {
  flex: 0.5;
  min-width: 400px;
  color: white;
  margin-bottom: 5rem;
}

.unloaded {
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  .chart {
    height: 100vh;
    // background-image: url("https://awv3node-homepage.surge.sh/build/assets/stars.svg");
  }
  .mobileChart {
    height: 35vh !important;
  }
  .tokenChart {
    margin-top: 5vh;
  }
  .liqChart {
    margin-bottom: 5vh;
    h2 {
      margin-bottom: 0rem !important;
    }
  }
}
