.c {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: 100% 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
}

.back {
  // background-image: url(https://images.unsplash.com/photo-1544511916-0148ccdeb877?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1901&q=80i&auto=format&fit=crop);
  background-image: url("./card_back.png");
  > div {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
    height: 100%;
    width: 60%;
    .name {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      top: 2rem;
    }
    // nth-child(2) doesn't work
    .title {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: 3rem;
      width: 80%;
    }
  }
}

.front {
  // background-image: url(".team_card_1.png");
  background-color: #06161a;
  position: relative;
  .portrait {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem 1rem 0 0;
  }
  p {
    position: absolute;
    top: 50%;
    // font-size: 0.9em;
    // font-size: 20px;
    font-size: 1vw;
    padding: 0.5rem;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  // width: 270px;
  width: 17.5vw;
  height: 45vh;
  min-width: 300px;
  max-width: 370px;
  min-height: 400px;
  max-height: 600px;
  // height: 400px;
}

.teamContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  // background: linear-gradient(#831858, #e75845);
  background: linear-gradient(#831858, #ff6854);
  height: 100vh;
  > h2 {
    margin-top: 5rem;
    font-size: 2.5em;
  }

  overflow: hidden;
}

.swiper {
  width: 100%;
  height: 70%;
}

.swiper-slide {
  // text-align: center;
  // font-size: 18px;
  // background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// .teamContainer {
//   display: flex;
//   justify-content: space-evenly;
//   flex-wrap: wrap;
//   color: white;
//   align-items: center;
//   align-content: center;
//   // background: linear-gradient(#831858, #e75845);
//   background: linear-gradient(#831858, #ff6854);
//   height: 100vh;
//   h2 {
//     flex-basis: 100%;
//     font-size: 2.2em;
//     padding-bottom: 5rem;
//   }
//   overflow: hidden;
// }

// @media screen and (max-width: 1000px) {
//   .container {
//     width: 220px;
//     min-width: 200px;
//   }
// }

@media screen and (min-width: 2200px) {
  .front {
    p {
      font-size: 0.6vw;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    height: 260px;
    width: 180px;
    min-width: 150px;
    min-height: 300px;
  }
  .front {
    p {
      font-size: 0.6em;
    }
  }
  .back {
    > div {
      font-size: 1rem;
    }
  }
  // .teamContainer {
  //   align-content: space-around;
  // }
}

@media screen and (max-width: 500px) {
  .swiper {
    height: 60%;
  }

  .container {
    max-height: 275px;
    min-height: 275px;
  }
}
