.socialMediaContainer {
  height: 20vh;
  width: 100vw;
  background: linear-gradient(#831858, #4e0e34);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    width: 35px;
    // margin-right: 5vw;
  }
  a {
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
