.financeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  text-align: left;
  background-image: url("https://awv3node-homepage.surge.sh/build/assets/stars.svg"),
    url("./planet_bg_2.png");
  background-size: cover;
  background-position: center top;
  align-items: center;
  height: 100vh;
  .financeContext {
    padding: 2rem;
    width: 50rem;
    h2 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    ul {
      font-size: 1.3em;
      padding: 1rem;
    }
  }
  #targetSvg {
    min-width: 250px;
  }
  ul {
    text-align: left;
  }
}

.unloaded {
  visibility: hidden;
}
