.targetContainer {
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  //   background-image: url("./7.png");
  //   background-size: cover;
  //   background-color: linear-gradient(#023e3f, #011d21);
  background: linear-gradient(#023e3f, #011d21);
  width: 100vw;
}

.targetContextContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  div {
    width: 70%;
    text-align: left;
    h3 {
      padding-bottom: 1rem;
    }
  }
}

.targetImgContainer {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-image: url("./targetBg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    font-size: 2em;
    background-color: rgba(171, 166, 24, 0.671);
    padding: 2rem;
    border-radius: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .targetImgContainer {
    top: 0;
    width: 100%;
    height: 50vh;
  }
  .targetContextContainer {
    width: 100%;
    position: absolute;
    top: 55vh;
  }
}
