.financeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  text-align: left;
  background-image: url("https://awv3node-homepage.surge.sh/build/assets/stars.svg"),
    url("./planet_bg_2.png");
  background-size: cover;
  background-position: center top;
  align-items: center;
  height: 100vh;
  .financeContext {
    padding: 2rem;
    width: 50rem;
    h2 {
      font-size: 1.5rem;
    }
    h3 {
      font-size: 1.2rem;
    }
    ul {
      padding: 1rem;
    }
  }
  #targetSvg {
    min-width: 200px;
    width: 20vw;
    height: auto;
  }
  ul {
    text-align: left;
  }
}

@media screen and (max-width: 800px) {
  .financeContainer {
    background-image: url("https://awv3node-homepage.surge.sh/build/assets/stars.svg");
    .financeContext {
      width: 35rem;
      h2 {
        font-size: 1.2rem;
        text-align: center;
      }
      h3 {
        font-size: 1rem;
      }
      ul {
        padding: 1rem;
      }
    }
  }
}
