.whyLightSection {
  height: 100vh;
  overflow-y: hidden;
  //   background-color: #090625;
  background: linear-gradient(#090625, #100b42);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.whyLightContext {
  width: 45%;
  text-align: left;
  h2 {
    font-size: 2.5em;
    text-align: center;
  }
  h3 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .whyLightContent {
    font-size: 1.3rem;
  }
}

.whyLightList {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  justify-content: space-between;
  > div {
    flex-basis: 45%;
    display: flex;
    font-size: 1.1rem;
    --animate-delay: 0.5s;
    img {
      margin-right: 1rem;
      height: 30px;
    }
  }
}

.unloaded {
  visibility: hidden;
}

@media screen and (max-width: 500px) {
  .whyLightSection {
    // height: auto;
  }

  .whyLightContext {
    width: 80%;
    text-align: left;
    h2 {
      font-size: 2em;
    }
    .whyLightContent {
      font-size: 1em;
    }
    margin-bottom: 4rem;
  }

  .whyLightList {
    justify-content: center;
    > div {
      flex-basis: 90%;
      font-size: 0.9em;
      padding-bottom: 1.5rem !important;
      img {
        margin-right: 1rem;
        height: 30px;
      }
    }
  }

  #whySvg {
    width: 300px !important;
    height: 300px !important;
  }
}
