.gameCoreContainer {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  height: 100vh;
  text-align: left;
  overflow-x: hidden;
  background: linear-gradient(#ff6854, #831858);
  background-size: cover;
}

.gameCore {
  flex-basis: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.unloaded {
  visibility: hidden;
}

.svg {
  width: 15vw;
  max-width: 230px;
  min-width: 130px;
  max-height: 150px;
  height: 150px;
  min-height: 100px;
}

.gameCoreContext {
  width: 30vw;
  padding-top: 2.5vh;
}

@media screen and (max-width: 800px) {
  .gameCoreContainer {
    font-size: 0.9rem;
  }
  .gameCoreContext {
    width: 35vw;
  }
}

@media screen and (max-width: 650px) {
  .gameCoreContext {
    width: 80vw;
  }
  .gameCoreContainer {
    font-size: 0.8rem;
  }
  .svg {
    width: 130px;
    height: 100px;
  }
  .gameCore:nth-child(2) {
    flex-direction: column-reverse;
  }
}
