.gameCoreContainer {
  display: flex;
  // flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  height: 100vh;
  text-align: left;
  overflow-x: hidden;
  background: linear-gradient(#ff6854, #831858);
  background-size: cover;
}

.gameCore {
  flex-basis: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.unloaded {
  visibility: hidden;
}

.svg {
  width: 250px;
}

.gameCoreContext {
  width: 30vw;
  margin-top: 5vh;
}

@media screen and (max-width: 750px) {
  .gameCoreContext {
    width: 80vw;
  }
  .gameCoreContainer {
    font-size: 0.8rem;
  }
  .svg {
    width: 130px;
  }
  .gameCore:nth-child(2) {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 450px) {
  // .gameCoreContainer {
  //   height: auto !important;
  // }
}
