.stackContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.deck {
  cursor: url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png")
      39 39,
    auto;
  position: absolute;
  width: 175px;
  height: 200px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  bottom: 15vh;
}

.deck > div {
  background-color: white;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  // width: 200px;
  height: 35vh;
  max-width: 200px;
  // height: 300px;
  aspect-ratio: 0.6;
  // height: 35vh;
  max-height: 300px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
    0 10px 10px -10px rgba(50, 50, 73, 0.3);
  -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
  -webkit-user-select: none;
  user-select: none;
}

#galleryContextContainer {
  width: 50vw;
  height: 100vh;
  background-image: url("./virus_bg.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#galleryContext {
  width: 60%;
  p {
    padding-top: 1rem;
  }
  z-index: 1;
  background-color: rgba(171, 166, 24, 0.671);
  padding: 2rem;
  border-radius: 1rem;
}

.galleryContainer {
  display: flex;
  // background-image: url("https://awv3node-homepage.surge.sh/build/assets/stars.svg");
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  background-color: rgba(7, 27, 27, 255);
  // background: linear-gradient(#e0c71f, #df531c);
  height: 100vh;
  align-items: center;
  overflow: hidden;
}

.model {
  position: absolute;
  top: 15vh;
  // bottom: 25rem;
  touch-action: none;
}

// .virusBg {
//   position: absolute;
//   width: 50vw;
//   height: 100vh;
// }

@media screen and (max-width: 600px) {
  #galleryContextContainer {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 0;
  }
  #galleryContext {
    // position: absolute;
    // top: 5vh;
    width: 80vw;
  }
  .galleryContainer {
    height: 120vh;
  }
  .model {
    // top: 30vh;
    top: 50vh;
  }
  .deck {
    // bottom: 10vh;
    top: 85vh;
  }
  .deck > div {
    height: 25vh;
  }
}
