@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "Oswald", sans-serif; */
  font-family: "Poppins", sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* remove fullpage plugin watermark */
.fp-watermark {
  display: none !important;
}
.fp-watermark > a {
  display: none !important;
}

#section1 {
  color: #fff;
}
.section {
  /* height: 100vh !important ; */
  /* height: -webkit-fill-available !important; */
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
}

.fp-section {
  text-align: center;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: rgb(90, 162, 224) !important;
}

.fp-arrow.fp-prev {
  border-width: 28.5px 24px 28.5px 0 !important;
  border-color: transparent #6e0c3f transparent transparent !important;
  margin-left: 2.5rem;
}

.fp-arrow.fp-next {
  border-width: 28.5px 0 28.5px 24px !important;
  border-color: transparent transparent transparent #6e0c3f !important;
  margin-right: 2.5rem;
}

@media screen and (min-width: 450px) {
  /* .section {
    height: -webkit-fill-available !important;
  } */
  .section {
    height: auto !important ;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
